fastapi
uvicorn
python-dotenv
passlib
python-jose
python-multipart
SQLAlchemy
supabase
gotrue
postgrest
realtime
storage3
pandas
numpy
scikit-learn
torch
joblib
optuna
lightgbm
onnx
onnxconverter-common
tqdm
colorlog
cryptography
alembic
psycopg2-binary
dill
httpx
uvloop
watchfiles
pytest
pytest-mock